html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 2.25rem;
	min-height: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header, footer {
	padding: 0.5em 1em;
}

nav {
	display: flex;
	justify-content: center;
}

.nav-links.hidden {
	opacity: 0;
	pointer-events: none;
   	cursor: default;
	transition: 0.25s;
}

.nav-links {
	display: flex;
	flex-direction: row;
	transition: 0.25s;
}

nav a {
	margin: 0 0.1rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
}

nav img {
	margin: 0 0.1rem;
	/*padding-right: 0.5rem;	*/
}

header h1 {
	margin: 0;
}

.review-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.review-id {
	display: none;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.review-body {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.input-forms-and-comments {
	width: 70%;
}

#tagDescription {
	width: 70%;
}

.comment-box {
	width: 20rem;
	height: 5rem;
}

.single-comment {
	display: grid;
	grid-template-rows: auto auto;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.single-comment p, .single-comment span {
	margin: 0.25rem;
}

.comment-top-row {
	display: flex;
	justify-content: space-between;
}

#comment-name {
	margin-left: 0;
}

#comment-name span {
	margin-right: 0;
}

.comment-delete-button {
	margin-top: 0;
}

.comment-text {
	grid-column: 1 / -1;
}

.review-tag {
	padding: 0.25em;
	border-radius: 0.25em;
	margin-right: 0.25em;
}

article {
	padding-left: 1rem;
}

img {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

footer h3 {
	margin: 0;
}