* {
	font-family: "Play", sans-serif;
}

header, footer {
	background-color: black;
	color: white;
	padding: 0.5em;
}

a {
	text-decoration: none;
	color: royalblue;
}

a:visited {
	color: royalblue;
}

a:hover {
	color: goldenrod;
}

footer a {
	color: white;
}

footer a:visited {
	color: white;
}

footer a:hover {
	color: goldenrod;
}

.comment-add-button, .tag-add-button {
	color: white;
	background-color: #00004d;
	font-size: 1.01em;
	border-radius: 0.25rem;
}

.single-comment {
	border-style: solid;
	border-color: lightgray;
	border-width: 2px;
	border-radius: 0.5rem;
}

.comment-delete-button {
	font-size: 1.1em;
	background-color: white;
	border-style: none;
	padding-bottom: 0.5em;
}

.comment-delete-button:hover {
	color: goldenrod;
	cursor: pointer;
}

.review-tag {
	background-color: #00004d;
}

.review-tag a {
	color: white;
}

.review-tag a:visited {
	color: white;
}

.review-tag a:hover {
	color: goldenrod;
	cursor: pointer;
}

.plain-tag {
	text-decoration: none;
}

.small-tag {
	font-size: 0.75em;
	font-style: italic;
}

.medium-tag {
	font-size: 1em;
}

.large-tag {
	font-size: 1.25em;
	font-style: bold;
}

img {
	display: block;
	max-width: 500px;
	max-height: 300px;
	width: auto;
	height: auto;
}