<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Haiku Reviews</title>

	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class="container">
		<header>
			<h1>Haiku Reviews</h1>

			<nav>
            	<div class="nav-links hidden">
                	<a href="/">Categories</a>
                	<a href="/tags">Tag Listing</a>
            	</div>
            	<img class="nav-icon" src="/images/hamburger-menu-icon.png"></img>
        	</nav>
		</header>
	
		<article>
			<h3>
				<p>Here are game reviews</p>
				<p>For those who like brevity</p>
				<p>Written as haiku</p>
			</h3>
			<h2>Category Listing</h2>

			<ul th:each="element: ${categoryListing}">
				<li><strong><a th:href="@{'/category/' + ${element.id}}" th:text="${element.name}"></a>
				</strong>
				<span th:text="| - ${element.description}|"></span></li>
			</ul>

			<h3><a href="tags" th:text="|Tag Listing|"></a></h3>

			<img id="front-page-img" src="./images/wallshroom.jpg" title="Graffiti shroom" alt="Graffiti shroom" />
		</article>

		<footer>
			<h3>
				<span></span>
				<a class="footer-center" href="http://marcbgold.github.io" th:text="marcbgold.github.io" />
				<span class="footer-right">©2018</span>
			</h3>
		</footer>
	</div>
	<script src="/js/header.js"></script>
</body>
</html>