<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All Tags</title>

	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<header>
			<h1>Tag Listing</h1>

			<nav>
            	<div class="nav-links hidden">
                	<a href="/">Categories</a>
                	<a href="/tags">Tag Listing</a>
            	</div>
            	<img class="nav-icon" src="/images/hamburger-menu-icon.png"></img>
        	</nav>
		</header>
		<article>
			<ul th:each="element: ${tagListing}">
				<li><a class="plain-tag" th:href="@{'/tag/' + ${element.id}}" th:text="${element.name}"
					th:classappend="${element.tagSize}"></a>
					<span th:text="| - ${element.description}|"></span>
				</li>
			</ul>
		</article>

		<footer>
			<h3>
				<a href="/" th:text="|Back to main|" />
				<a class="footer-center" href="http://marcbgold.github.io" th:text="marcbgold.github.io" />
				<span class="footer-right">©2018</span>
			</h3>
		</footer>
	</div>
	<script src="/js/header.js"></script>
</body>
</html>