<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Haiku Reviews</title>
<style>
img {
	display: block;
	max-width: 500px;
	max-height: 300px;
	width: auto;
	height: auto;
}
</style>
</head>

<body>
	<h1>Haiku Reviews</h1>

	<h3>An assortment of video games, reviewed via haiku. For those
		who like brevity.</h3>

	<article>
		<h2>Review Listing</h2>

		<ul th:each="element: ${reviewListing}">
			<li><strong><a href="review.html" th:href="@{review(reviewId=${element.id})}" th:text="${element.title}"></a></strong>
			<span th:text="| - ${element.description}|"></span></li>
		</ul>

		<img src="./images/wallshroom.jpg" title="Graffiti shroom" alt="Graffiti shroom" />
	</article>
</body>
</html>