<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title th:text="|${currentReview.title} Review|"></title>

	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class="review-container">
		<header class="review-header">
			<h1 th:text="|${currentReview.title}|"></h1>
		</header>
		<main>
			<div class="review-body">
				<article class="review-content">
					<p th:text="|Review Date: ${#dates.format(currentReview.reviewDate, 'MM-dd-yyyy')}|" />
					<p th:text="|Year Published: ${currentReview.yearPublished}|" />
					<p th:text="|Category: ${currentReview.category.name}|" />
					<span>Tags:</span>
					<span th:each="element: ${currentReview.tags}">
						<a th:href="@{'/tag/' + ${element.id}}" th:text="| ${element.name}|"></a>
						<span> </span>
					</span>

					<img th:src="${currentReview.imageUrl}"
					th:title="${currentReview.title}" th:alt="${currentReview.title}" />

					<h3>Haiku</h3>
					<p th:each="element: ${currentReview.content}" th:text="${element}" />
				</article>


				<aside class="review-comments">
					<div class="comment-listing">
						<h3>Comment Listing</h3>
						<div class="single-comment" th:each="currentComment: ${currentReview.comments}">
							<div class="comment-top-row">
								<span id="comment-name">
									<span><strong>Name:</strong></span>
									<span th:text="${currentComment.posterName}"></span>
								</span>
								<form action="POST">
									<button type="submit" class="comment-delete-button" th:formaction="@{'/review/' + ${currentReview.id} + '/deletecomment/' + ${currentComment.id}}">
										<strong>x</strong>
									</button>
								</form>
							</div>
							<p class="comment-text" th:text="${currentComment.text}"></p>
						</div>
					</div>
					<div>
						<h3>Add Comment</h3>
						<form method="POST">
							<p>Name:</p>
							<p><input type="text" name="posterName"></input></p>
							<p>Comment:</p>
							<p><textarea class="comment-box" name="commentText"></textarea></p>
							<p><input th:formaction="@{'/review/' + ${currentReview.id} + '/addcomment'}"
								type="submit" value="Post Comment">
							</input></p>
						</form>
					</div>
				</aside>
			</div>
			
		</main>
		<footer>
			<a th:href="@{'/category/' + ${currentReview.category.id}}" th:text="|Go back|"></a>
		</footer>
	</div>
</body>
</html>