<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="|Reviews Tagged With ${currentTag.name}|"></title>
	<style>
	img {
		display: block;
		max-width: 500px;
		max-height: 300px;
		width: auto;
		height: auto;
	}
</style>

</head>

<body>
	<h1 th:text="|${currentTag.name}|"></h1>
	<h3 th:text="|${currentTag.description}|"></h3>

	<article>
		<h2>Review Listing</h2>

		<ul th:each="element: ${currentTag.reviews}">
			<li><strong><a href="singleReview.html" th:href="@{review(reviewId=${element.id})}" th:text="${element.title}"></a></strong>
			<span th:text="| - ${element.description}|"></span></li>
		</ul>
	</article>

	<footer>
		<a href="categories.html" th:text="|Back to main|"></a>
	</footer>
</body>
</html>