<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title th:text="|All ${currentCategory.name} Reviews|"></title>
	<style>
	img {
		display: block;
		max-width: 500px;
		max-height: 300px;
		width: auto;
		height: auto;
	}
</style>
</head>

<body>
	<h1 th:text="|${currentCategory.name}|"></h1>
	<h3 th:text="|${currentCategory.description}|"></h3>

	<article>
		<h2>Review Listing</h2>

		<ul th:each="element: ${reviewListing}">
			<li><strong><a href="singleReview.html" th:href="@{review(reviewId=${element.id})}" th:text="${element.title}"></a></strong>
			<span th:text="| - ${element.description}|"></span></li>
		</ul>
	</article>

	<footer>
		<a href="categories.html" th:text="|Go back|"></a>
	</footer>

</body>
</html>